* text=auto
*.h text eol=crlf
*.hpp text eol=crlf
*.cpp text eol=crlf
*.c text eol=crlf
*.cs text eol=crlf
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.ini text eol=crlf
*.png binary
*.jpg binary
*.zip binary
*.pdf binary
