BasedOnStyle: Microsoft
Language: Cpp
UseTab: Always
TabWidth: 4
IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4
ColumnLimit: 0
BreakBeforeBraces: Allman
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: WithoutElse
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
AlignConsecutiveDeclarations: None
AlignConsecutiveAssignments: None
AlignTrailingComments: false
AlignAfterOpenBracket: DontAlign
BinPackParameters: true
BinPackArguments: true
AlwaysBreakAfterReturnType: None
BreakConstructorInitializers: AfterColon
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AllowAllConstructorInitializersOnNextLine: false
ConstructorInitializerIndentWidth: 4
SortIncludes: false
ReflowComments: false
PointerAlignment: Left
DerivePointerAlignment: false
SpaceBeforeParens: ControlStatements
UseCRLF: true
